-# クレジットカード新規登録
.new-credit-card-box
  .new-credit-card-box__header
    %p.new-credit-card-box__header--text クレジットカード登録
  .new-credit-card-box__body
    %p.new-credit-card-box__body--text
    %form.new-credit-card-box__body--form
      %input.credit-card-number
      %p.credit-card-number-form-under テストテストテストテストテスト
      %input