-# = render 'ヘッダー'

.mypage
  .mypage__top 
    %p.mypage__top--text メルカリ > マイページ > 支払い方法

  .mypage__main
    = render 'mypages/mypage_nav' 
    .mypage__main--contents
      .add-credit-card-box
        %p.add-credit-card-box__header 支払い方法
        .add-credit-card-box__body
          .add-credit-card-box__body--btn
            %p クレジットカード一覧
            = link_to '#', class:'add-credit-card-btn' do
              %i.fa.fa-credit-card
              %p クレジットカードを追加する
          = link_to '#', class: 'add-credit-card-box__body--info' do
            %p.add-credit-card-info 支払い方法について
            %i.fa.fa-chevron-right

-# = render 'フッター'

