.mini-footer
  %ul
    = link_to "プライバシーポリシー", '#'
    = link_to "フリマ利用規約", '#'
    = link_to "特定商取引に関する表記", '#'
  .mini-footer__center
    = image_tag 'logo-white.png', class: 'mini-footer__center__img'
  .mini-footer__bottom
    %p ©️ Furima, inc.