-# クレジットカート追加の確認画面
.add-credit-card-box
  .add-credit-card-box__header
    %p.add-credit-card-box__header--text クレジットカード追加画面
  .add-credit-card-box__body
    .add-credit-card-box__body--top
      .credit-add-button-on
        %p.credit-add-button-on__text テストテストテスト
      = link_to "クレジットカードをカード追加する", '#', class:'btn credit-add-btn'
    .add-credit-card-box__body--bottom
      .credit-add-info
        %p.credit-add-info-text テストテストテスト
