.user-box
  .user-box__profile
    .user-box__profile--image
      = image_tag 'free.jpg', alt: 'プロフィール画像', class: 'user-image'
    .user-box__profile--name
      %p.user-name 元山 清春
    .user-box__profile--introduction
      %p.user-introduction 初めまして、転売続けて2年になります。相場より安く出品してますのでみていってください。
  .user-box__tab
    .user-box__tab--left
      %p.left-tab-text 左側
    .user-box__tab--right
      %p.right-tab-text 右側
  .user-box__info
    %p.user-box__info--text サンプルサンプサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルルサンプルサンプルサンプルサンプサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルルサンプルサンプル

.item-box
  .item-box__text
    %p.item-box__text--logo 取引商品
  .item-box__tab
    .item-box__tab--left
      %p.left-tab-text 左側
    .item-box__tab--right
      %p.right-tab-text 右側
  .item-box__info
    %p.item-box__info--text サンプルサンプサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルルサンプルサンプルサンプルサンプサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルルサンプルサンプル