.wrapper
  = render "shared/header"

  .mypage
    .mypage__top 
      %p.mypage__top--text フリマ > マイページ

    .mypage__main
      = render 'mypage_nav'
      .mypage__main--contents
        = render 'user_profile'

  = render "shared/footer"