.wrapper
  = render "shared/header"

  .mypage
    .mypage__top 
      %p.mypage__top--text フリマ > マイページ > ログアウト

    .mypage__main
      = render 'mypage_nav' 
      .mypage__main--contents
        .logout-page
          = link_to destroy_user_session_path, method: :delete, class:'logout-page__btn' do
            %p.logout-page__btn--text ログアウト

  = render "shared/footer"