.appBanner{
  background-image: asset-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner{
    color: white;
    text-align: center; 
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      margin: 0;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 0;
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .icon-apple{
        margin: 20px;
        height:55px;
        width: 180px;
      }
      .icon-google{
        margin: 20px;
        height:55px;
        width: 180px;
      }
    }
  }
}