.pickup-container__product-box__product-lists {
  width: 1000px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__product-list {
    .line {
      background-color: #fff;
      display: inline-block;
      text-decoration: none;
      color: #333;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      img {
        width: 220px;
        height: 150px;
        background-color: white;
        position: relative;
      }
      .body {
        padding: 16px;
        background-color: white;
        color: black;
        &__name {
          font-size: 16px;
          width: 150px;
          overflow: hidden;
        }
        &__details {
          display: flex;
          justify-content: space-between;
          &__price {
          }
          &__star {
            font-size: inherit;
            text-rendering: auto;
          }
        }
        &__tax {
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}

.sold-cover {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid #4FCFD3;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #4FCFD3;
}
.sold-cover.show {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80px solid #4FCFD3;
  border-right: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 80px solid #4FCFD3;
}

.sold {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  font-size: 24px;
  color: white;
  transform: rotate(315deg); 
}

.sold.show {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  font-size: 40px;
  color: white;
  transform: rotate(315deg); 
}

@media (max-width: 1040px) {
  .pickup-container__product-box__product-lists {
    width: 800px;
    justify-content: space-between;
    &__product-list {
      .line {
        img {
        }
        .body {
          &__name {
          }
          &__details {
            &__price {
            }
            &__star {
            }
          }
          &__tax {
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .pickup-container__product-box__product-lists {
    width: 600px;
    justify-content: center;
    &__product-list {
      .line {
        img {
        }
        .body {
          &__name {
          }
          &__details {
            &__price {
            }
            &__star {
            }
          }
          &__tax {
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .pickup-container__product-box__product-lists {
    width: 350px;
    justify-content: center;
    &__product-list {
      .line {
        img {
        }
        .body {
          &__name {
          }
          &__details {
            &__price {
            }
            &__star {
            }
          }
          &__tax {
          }
        }
      }
    }
  }
}