* {
  box-sizing: border-box;
}

.wrapper {
  font-family: 'arial';
}

.main {
  color: #000;
}

.pickup {
  background-color: #f8f8f8;
  padding-bottom: 30px;
  .pickup-container {
    padding-top: 60px;
    background-color: #f8f8f8;
    height: 100%;
    &__head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__product-box {
      margin-top: 10px;
      &__product-head {
        text-align: center;
        .line {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          font-weight: bold;
        }
      }
    }
  }
}
