.nav {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  .navber {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    a {
      text-decoration: none;
      color: #333;
    }
    li {
      padding-right: 10px;
    }
  }
}

.main {
  .showMain {
    padding: 40px;
    margin: 0 auto;
    &__contents {
      width: 700px;
      margin: 0 auto;
      &__content {
        .itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 16px;
          }
          &__image {
            ul {
              position: relative;
              list-style: none;
              .mainImage {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
              }
              .mainImage img {
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                  margin: 0 auto;
              }
              ul {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                list-style: none;
                li {
                  width: 25%;
                  margin-right: 10px;
                  display: flex;
                  // flex-direction: column;
                  align-items: center;
                }
                li img {
                  object-fit: cover;
                  height: 87px;
                  width: 100%;
                  vertical-align: bottom;
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            .totalPrice {
              text-align: center;
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              &__detail {
                font-size: 16px;
              }
            }
          }
          &__introduction {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            &__details {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tr {
                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a {
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
          .optionalArea {
            display: flex;
            justify-content: space-between;
            &__btn {
              display: flex;
              justify-content: space-between;
              .likeBtn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
              .reportBtn {
                font-size: 14px;
              }
            }
          }
        }
        .commentBox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .commentContents {
            textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .noticeMessage {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0 30px 0;
              text-align: left;
            }
            .commentBtn {
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              display: inline-block;
              text-align: center;
              align-items: flex-start;
              cursor: default;
              padding: 1px 7px 2px;
            }
          }
        }
        .links {
          list-style: none;
          display: flex;
          justify-content: space-between;
          a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
        .relatedItems {
          a {
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
        }
      }
    }
  }
}