a {
  text-decoration: none;
}

a.new_registration{
  color: white;
}

a.forget{
  color: rgb(220, 220, 220);
}


.btn{
  background-color: #3CCACE;
  color: white;
  height: 50px;
  width: 100%;
}


.sessions-container {
  font-family: 'arial';
  background-color: #f5f5f5;
  .sessions-main {
    color: #333;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    .registration{
      height: 100%;
      width: 343px;
      margin: 0 auto;
      background-color: #fff;
      border-bottom: solid 1px rgb(239, 239, 239);
      text-align: center;
      &__text{
        font-size: 14px;
      }
      &__btn{
        text-decoration: none;
        background-color: #3CCACE;
        color: white;
        height: 50px;
        width: 100%;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .main{
      background-color: white;
      .input{
        font-size: 14px;
        height: 100%;
        width: 343px;
        margin: 0 auto;
        padding-bottom: 20px;
        &__email{
          margin: 20px 0;
          &__form{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
        }
        &__password{
          margin: 20px 0;
          &__form{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
        }
        
        &__submit{
          margin-bottom: 20px;
        }
      }
    }
  }
}