.pickupcontainer
  .pickupcontainer__head
    ピックアップカテゴリー
  .pickupcontainer__productbox
    .pickupcontainer__productbox__producthead
      = link_to "#" , class: "line" do
        新規投稿商品
      .wrapper
        .pickupcontainer__productbox__productlists
          .pickupcontainer__productbox__productlists__productlist
            .pickupcontainer__productbox__productlists__productlist__img
              = image_tag asset_path("icon-01.png"), size: "220x150", class: "List"
              .pickupcontainer__productbox__productlists__productlist__body
                .pickupcontainer__productbox__productlists__productlist__body__name
                  納豆
                .pickupcontainer__productbox__productlists__productlist__body__details
                  .pickupcontainer__productbox__productlists__productlist__body__details__price
                    円
                  .pickupcontainer__productbox__productlists__productlist__body__details__star
                    .pickupcontainer__productbox__productlists__productlist__body__details__star__icon
                      ★
                    .pickupcontainer__productbox__productlists__productlist__body__details__star__value
                      0
                    .pickupcontainer__productbox__productlists__productlist__body__tax
                      (税込)
  .pickupcontainer__head
    ピックアップブランド
  .pickupcontainer__productbox
    .pickupcontainer__productbox__producthead
      = link_to "#" , class: "line" do
        アーカイバ
      .wrapper
        .pickupcontainer__productbox__productlists
          .pickupcontainer__productbox__productlists__productlist
            .pickupcontainer__productbox__productlists__productlist__img
              = image_tag asset_path("icon-01.png"), size: "220x150", class: "List"
              .pickupcontainer__productbox__productlists__productlist__body
                .pickupcontainer__productbox__productlists__productlist__body__name
                  納豆
                .pickupcontainer__productbox__productlists__productlist__body__details
                  .pickupcontainer__productbox__productlists__productlist__body__details__price
                    円
                  .pickupcontainer__productbox__productlists__productlist__body__details__star
                    .pickupcontainer__productbox__productlists__productlist__body__details__star__icon
                      ★
                    .pickupcontainer__productbox__productlists__productlist__body__details__star__value
                      0
                    .pickupcontainer__productbox__productlists__productlist__body__tax
                      (税込)