.main-visual2
  .main-visual2__content
    .main-visual2__content__subtitle
      会員数日本一位
    .main-visual2__content__text
      FURIMAは、フリマアプリで最も人気。
    .main-visual2__content__text2
      出品・購入回数も業界最多です！
    .main-visual2__content__text3
      ほしかったあの商品に出会えるかもしれません。
    .main-visual2__content__btn
      = link_to "#" do
        = image_tag asset_path("duellinks03.png"), size: "180x53", class: "main-visual__content__btn__abtn"
      = link_to "#" do
        = image_tag asset_path("google-play-badge-logo-.png"), size: "180x53", class: "main-visual__content__btn__gbtn"
    .main-visual2__content__pict