.mainvisual2
  .mainvisual__content
    .mainvisual__content__subtitle
      人生を変えるフリマアプリ
    .mainvisual__content__text
      FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
    .mainvisual__content__btn 
      = link_to "#" do
        = image_tag asset_path("duellinks03.png"), size: "180x53", class: "mainvisual__content__btn__abtn"
      = link_to "#" do
        = image_tag asset_path("google-play-badge-logo-.png"), size: "180x53", class: "mainvisual__content__btn__gbtn"
    .mainvisual__content__pict