.introduction
  .introduction__subtitle
    FURIMAが選ばれる３つの理由
  .introduction__lists
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          1 
        .image  
          = image_tag asset_path("pict-reason-01.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
      .introduction__lists__tag__text
        .text__top 
          3分で
        すぐ出品
      .introduction__lists__tag__comment
        スマホで入力するだけで簡単に出品できる
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          2 
        .image  
          = image_tag asset_path("pict-reason-02.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
      .introduction__lists__tag__pict
      .introduction__lists__tag__text
        .text__top
          シンプル
        で使いやすい
      .introduction__lists__tag__comment
        めんどくさい入力は必要なく、検索も購入もスムーズ
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          3 
        .image  
          = image_tag asset_path("pict-reason-03.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
      .introduction__lists__tag__pict
      .introduction__lists__tag__text
        手数料
        .text__top
          業界最安
      .introduction__lists__tag__comment
        最大３%でお得に出品&購入