.midle
  .midle__subtitle
    FURIMAの特徴
  .midle__lists
    .midle__lists__tag
      .midle__lists__tag__src
        .image
          = image_tag asset_path("icon-01.png"), size: "306x306", class: "pict"
      .midle__lists__tag__text
        簡単に売り買いできる
      .midle__lists__tag__comment
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .midle__lists__tag
      .midle__lists__tag__src
        .image  
          = image_tag asset_path("icon-03.png"), size: "306x306", class: "pict"
      .midle__lists__tag__pict
      .midle__lists__tag__text
        売上金は即日振り込みに対応
      .midle__lists__tag__comment
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    .midle__lists__tag
      .midle__lists__tag__src 
        .image  
          = image_tag asset_path("icon-04.png"), size: "306x306", class: "pict"    
      .midle__lists__tag__pict
      .midle__lists__tag__text
        様々な支払いに対応
      .midle__lists__tag__comment
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。