-# .pickup-container
-#   .pickup-container__head
-#     ピックアップブランド
-#   .pickup-container__product-box
-#     .pickup-container__product-box__product-head
-#       = link_to "#", class: "line" do
-#         新規投稿商品
-#     .pickup-container__product-box__product-lists
-#       .pickup-container__product-box__product-lists__product-list
-#         = link_to "#", class: "line" do
-#           .pickup-container__product-box__product-lists__product-list__img
-#             = image_tag asset_path("duellinks03.png"), class: "img_k"
-#           .body
-#             .body__name
-#               魚
-#             %ul.body__details
-#               %li.body__details__price
-#                 200円
-#               %li.body__details__star
-#                 ★0
-#             .body__tax
-#               (税込)
              
-#       .pickup-container__product-box__product-lists__product-list
-#         = link_to "#", class: "line" do
-#           .pickup-container__product-box__product-lists__product-list__img
-#             = image_tag asset_path("duellinks03.png"), class: "img_k"
-#           .body
-#             .body__name
-#               魚
-#             %ul.body__details
-#               %li.body__details__price
-#                 200円
-#               %li.body__details__star
-#                 ★0
-#             .body__tax
-#               (税込)

-#       .pickup-container__product-box__product-lists__product-list
-#         = link_to "#", class: "line" do
-#           .pickup-container__product-box__product-lists__product-list__img
-#             = image_tag asset_path("duellinks03.png"), class: "img_k"
-#           .body
-#             .body__name
-#               魚
-#             %ul.body__details
-#               %li.body__details__price
-#                 200円
-#               %li.body__details__star
-#                 ★0
-#             .body__tax
-#               (税込)