.main-visual
  .main-visual__content
    .main-visual__content__subtitle
      人生を変えるフリマアプリ
    .main-visual__content__text
      FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
    .main-visual__content__btn 
      = link_to "#" do    
        = image_tag asset_path("duellinks03.png"), size: "180x53", class: "main-visual__content__btn__abtn"
      = link_to "#" do
        = image_tag asset_path("google-play-badge-logo-.png"), size: "180x53", class: "main-visual__content__btn__gbtn"
    .main-visual__content__pict