#account-page.account-page


a {
  text-decoration: none;
}

.SideType{
  display: flex;
  align-items: center;
}

.bold{
  font-weight: bold;
}

.red{
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  margin-left: 5px;
  padding: 0 1px;
}

.Note{
  color: rgb(181, 181, 181);
}

.btn{
  background-color: #3CCACE;
  color: white;
  height: 50px;
  width: 100%;
}


.single-container {
  font-family: 'arial';
  background-color: #f5f5f5;
  .single-main {
    color: #333;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    .title{
      height: 90px;
      line-height: 90px;
      background-color: #fff;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border-bottom: solid 1px rgb(239, 239, 239);
    }
    .main{
      background-color: white;
      .input{
        font-size: 14px;
        height: 100%;
        width: 343px;
        margin: 0 auto;
        padding-bottom: 20px;
        &__nickname{
          margin: 20px 0;
          &__text{
            margin-bottom: 5px;
          }
          &__form{
            padding-left: 10px;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
        }
        &__email{
          margin: 20px 0;
          &__text{
            margin-bottom: 5px;
          }
          &__form{
            padding-left: 10px;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }

        }
        &__password{
          margin: 20px 0;
          &__text{
            margin-bottom: 5px;
          }
          &__form{
            padding-left: 10px;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }

        }
        &__name{
          margin: 20px 0;
          &__title{
            margin-bottom: 5px;
          }
          &__description{
            margin-bottom: 20px;
          }
          &__text{
            margin-bottom: 5px;
          }
          &__fullname{
            display: flex;
            margin-bottom: 20px;
            &__first_name{
              padding-left: 10px;
              height: 45px;
              width: 100%;
              border-radius: 5px;
              border: solid 1px rgb(220, 220, 220);
              margin-right: 5px;
            }
            &__last_name{
              padding-left: 10px;
              height: 45px;
              width: 100%;
              border-radius: 5px;
              border: solid 1px rgb(220, 220, 220);
            }
          }
        }
        &__kana{
          margin: 20px 0;
          &__text{
            margin-bottom: 5px;
          }
          &__fullname{
            display: flex;
            margin-bottom: 20px;
            &__first_kana{
              padding-left: 10px;
              height: 45px;
              width: 100%;
              border-radius: 5px;
              border: solid 1px rgb(220, 220, 220);
              margin-right: 5px;
            }
            &__last_kana{
              padding-left: 10px;
              height: 45px;
              width: 100%;
              border-radius: 5px;
              border: solid 1px rgb(220, 220, 220);
            }
          }
        }
        &__birthday{
          &__text{
            margin-bottom: 0px;
          }
          &__select{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            .birth_year{
              padding-left: 10px;
              height: 45px;
              width: 76px;
              margin-top: 5px;
            }
            .birth_month{
              padding-left: 10px;
              height: 45px;
              width: 76px;
              margin-top: 5px;
            }
            .birth_day{
              padding-left: 10px;
              height: 45px;
              width: 76px;
              margin-top: 5px;
            }
          }
        }
        &__submit{
          margin-top: 20px;
          margin-bottom: 10px;
          &__text{
            margin-bottom: 20px;
          }
          &__description{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.field_with_errors {
  display: contents;
}
.error{
  display: none;
}

#error_explanation {
  padding: 20px 150px;
}

#Input_error__name {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__email {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__password {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__password2 {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__first_name {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__last_name {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

#Input_error__first_kana {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__last_kana {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
  margin-bottom: 30px;

}

#Input_error__birth_year {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

#Input_error__birth_month {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  color: #FF4040;
  display: block;
  margin: 0;
}

#Input_error__birthday {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  color: #FF4040;
  display: block;
  margin: 0;
}


#Input_error__birthday__select{
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}