-if @item.errors.any? 
  .alert
    %ul
      -@item.errors.full_messages.each do |message|
        %li= message

-# -if @item_image.errors.any?
-#   .alert
-#     %ul
-#       -@item_image.errors.full_messages.each do |message|
-#         %li= message